h1 {
    text-align: center;
}
.wrapper {
    width: 600px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0,0,0,0.30);
    box-shadow: 0 3px 6px rgba(0,0,0,0.30);
}

app-progress-bar {
    width: 100%;
}

button {
    width: 100%;
}

.initInput input {
    padding-left: 10px;
}
